.inner {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.section-head {
	font-size: 3em;
}

.playlists {
	display: grid;
	grid-template-columns: repeat(6, auto);
	justify-items: center;
	text-align: center;
}

.playlist {
	padding: 10px;

	img {
		width: 200px;
		height: 200px;
	}
}
